// _fonts.scss

// Adapted from @link https://systemfontstack.com/
$base-font: "FreeSerif",
			"Iowan Old Style",
			"Apple Garamond",
			Georgia,
			"Times New Roman",
			"Droid Serif",
			serif;

$base-font-size: 18pt;

$menu-font: Inter,
			Roboto,
			'Helvetica Neue',
			'Arial Nova',
			'Nimbus Sans',
			Arial,
			sans-serif;

$menu-font-size: 16pt;


h1, h2, h3 {
	font-weight: normal;
}

h1 {
	font-size: $base-font-size * 2.4;
}

h2 {
	font-size: $base-font-size * 1.6;
}

h3 {
	font-size: $base-font-size * 1.2;
}

menu.main-nav li {
	font-family: $menu-font;
	font-size:   $menu-font-size;
}

p {
	line-height: 1.4em;
}
