// _main.scss
@use 'sass:color';
@use 'colors';
@use 'fonts';

html {
	background: colors.$background-color;
	color: #fff;
	font-family: fonts.$base-font;
	font-size: fonts.$base-font-size;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: #adf;
}
a:visited {
	color: #abc;
}
a:hover {
	color: #def;
}

main {
	width: 75%;
	max-width: 65ch;
	margin: auto;
	padding: 1em 2em;

	li {
		line-height: 1.333em;
		margin-bottom: 0.5em;
	}

	.showtime-list li {
		margin-bottom: 0;
	}
}

.full-bleed {
	// @link https://piccalil.li/blog/creating-a-full-bleed-css-utility
	width: 100vw;
	margin-left: calc( 50% - 50vw );
}

.full-bleed img {
	width: 100vw;
	height: auto;
}

.movie-title {
}

.movie-showtime-summary {
	font-size: 75%;
	&:before {
		content: " » ";
	}
}

.movie-rating {
	font-size: 85%;
	font-style: italic;
}

h2.evans-slide .movie-rating {
	font-size: 66%;
}

#evans-logo-header {
 	max-height: 1em;
	color: #fff;
}

menu.main-nav, ul.main-nav {
	margin-left: 0;
	padding-left: 0;
	text-align: right;
	li  {
		display: inline;
		list-style: none;
		margin-right: 0.25em;
		padding: 0.25em;
	}

	li:hover {
		background: colors.$menu-hover-background;
		border-radius: 6px;
		a {
			color: #fff;
		}
	}

	li.nav-current-page {
		background: colors.$menu-current-page-background;
		border-radius: 6px;
	}

}


// Upcoming Movies descriptions.
p.upcoming-movie-excerpt { margin-left: 2em; }

.article-date {
	font-size: 0.95rem;
	font-style: italic;
}

footer {
	margin: auto;
	text-align: center;
	margin-bottom: 0;
	ul {
		li {
			display: inline;
		}
		li + li::before {
			content: " | ";
		}
	}
}

.hide-me {
	color: colors.$background-color; // Yes, that's correct.
	font-size: 1px;
}

// Asides. Used for notes in the text.
aside {
	background: color.scale( colors.$background-color, $lightness: 10% );
	padding: 1em;
	border: 1px solid color.scale( colors.$background-color, $lightness: 50% );
	border-radius: 8px;
	font-size: 90%;
	.icon {
		display: block;
		float: left;
		padding-right: 1.5em;
		font-size: 2em;
	}
}