// _main.scss

html {
	background: $background-color;
	color: #fff;
	font-family: $base-font;
	font-size: $base-font-size;
}
a {
	color: #adf;
}
a:visited {
	color: #abc;
}
a:hover {
	color: #def;
}

main {
	width: 75%;
	max-width: 45em;
	margin: auto;
	margin-bottom: 98vh;
	background: rgba( 24, 32, 48, 0.75 );
	backdrop-filter: blur( 10px ) grayscale( 25% );
	border-radius: 1em;
	padding: 1em 2em;
}

ul.main-nav {
	margin-left: 0;
	padding-left: 0;
	text-align: right;
	li  {
		display: inline;
		list-style: none;
		margin-right: 0.75em;
	}
}

.hide-me {
	color: $background-color; // Yes, that's correct.
	font-size: 1px;
}