// _media-queries.scss

@media screen and (max-width: 992px) {
	ul.showtime-list {
		li {
			display: block;
		}
		li + li::before {
			content: none;
		}
	}
	footer {
		text-align: left;
		ul {
			li {
				display: block;
			}
			li + li::before {
				content: none;
			}
		}
	}
}

@media screen and (max-width: 800px ) {
	body {
		font-size: 18px;
	}
	h1 { font-size: 1.75em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.25em; }
	main {
		max-width: 95%;
	}
}