// _social-media.scss
@use "colors";

// Icon SVGs found on iconify.design

.social-media-list-large span {
	margin-right: 0.5em;
  width: 2em;
  height: 2em;
}

.social-media-list span {
  margin-right: 1em;
  width: 1em;
  height: 1em;
}

.facebook-icon {
  display: inline-block;
  --svg: url( '/images/svg/facebook-icon.svg' );
  background-color: colors.$fb-color;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.instagram-icon {
  display: inline-block;
  --svg: url( '/images/svg/instagram-icon.svg' );
  background-color: colors.$ig-color;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.bluesky-icon {
  display: inline-block;
  --svg: url( '/images/svg/bluesky-icon.svg' );
  background-color: colors.$bsky-color;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.bringAFriend-icon {
  display: inline-block;
  --svg: url( '/images/svg/bring-a-friend-icon.svg' );
  background-color: #def;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}