# Misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.env.vault
.cache
note-to-self.md
testing/
archived/
*.bak
.php/
.local/

# Node modules and output
node_modules
public
src/_includes/css

# Blog post / article about the switch
narrative/

