<!DOCTYPE html>
<html>
<head>
<title>{{ title | safe }} | Evans Theatre</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content="{{ eleventy.generator }}" />
<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
{% include "partials/_header.njk" %}
<main>
<h1>{{ title | safe }}</h1>
<div class="article-date">Posted: {{ date | articledateformat }}</div>
{{ content | safe }}
</main>
</body>

{% include "partials/_footer.njk" %}

</html>