{% extends "layouts/base.njk" %}
{% block extraCSS %}
{% if collections.moviesUpcoming -%}
{%- if 1 < collections.moviesUpcoming.length -%}
<link rel='stylesheet' type='text/css' href='https://unpkg.com/@glidejs/glide@3.6.2/dist/css/glide.core.css'>
<link rel='stylesheet' type='text/css' href='https://unpkg.com/@glidejs/glide@3.6.2/dist/css/glide.theme.css'>
{%- endif %}
<link rel='stylesheet' type='text/css' href='/css/slideshow.css?v={{ nonce.fullNonce }}'>
{%- endif -%}
{% endblock %}

{% block afterMain %}
{% if collections.moviesUpcoming %}
	{% if 1 < collections.moviesUpcoming.length %}
<script src="https://unpkg.com/@glidejs/glide" type="text/javascript"></script>
<script src="/scripts/slideshow.js"></script>

	{% endif %}
{% endif %}
{% endblock %}
