<!DOCTYPE html>
<html>
<head>
<title>{{ title | safe }} | Evans Theatre</title>
<style>
html {
	background: #234;
	color: #fff;
}
{% if remote_featured_image %}
{% image remote_featured_image, title, 'background' %}
{% endif %}
a {
	color: #adf;
}
a:visited {
	color: #abc;
}
a:hover {
	color: #def;
}
</style>
</head>

<body>
{% include "partials/_mainNav.njk" %}
{{ content | safe }}
<hr />
<a href="/movies/">All Movies</a>
</body>

</html>
