<!DOCTYPE html>
<html>
<head>
<title>{{ title | safe }} | Evans Theatre</title>
<style>
{% include "public/css/styles.css" %}
{% if featured_img %}
/* Custom CSS for "{{ title }}" */
{% image 'src' + featured_img, title, 'background' %}
{% endif %}
</style>
</head>

<body>
<main>
{% include "partials/_mainNav.njk" %}
<h1>{{ title | safe }}</h1>
{{ content | safe }}
<hr />
<a href="/movies/">All Movies</a>
</main>
</body>

</html>
