<!DOCTYPE html>
<html>
<head>
<title>{{ title | safe }} | Evans Theatre</title>
<style>
html {
	background: #234;
	color: #fff;
}
{% if featured_img %}
{% image 'src' + featured_img, title, 'background' %}
{% endif %}
a {
	color: #adf;
}
a:visited {
	color: #abc;
}
a:hover {
	color: #def;
}
</style>
</head>

<body>
<main>
{% include "partials/_mainNav.njk" %}
<h1>{{ title | safe }}</h1>
{{ content | safe }}
<hr />
<a href="/movies/">All Movies</a>
</main>
</body>

</html>
