---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: "layouts/naked.njk"
---
Sitemap: {{ site.url }}/sitemap.xml

# Automated AI scraper rules
# @see https://knownagents.com/

{% mrRoboto %}
