---
permalink: '.htaccess'
---
# Disables directory indexes
Options -Indexes

DirectoryIndex index.html index.json index.xml

# Custom error docs
ErrorDocument 404 /errors/404/
ErrorDocument 403 /errors/403/

<IfModule mod_rewrite.c>
# Rewrites
RewriteEngine On

# Prepend `news` onto news article URLs
RewriteRule ^(20\d+/\d+)/(.*) /news/$1/$2 [R=301,NC,L]
</IfModule>


<IfModule mod_headers.c>
	# Security headers
	<IfDefine !DEVELOPMENT>
		# Headers for production server.
		Header set Strict-Transport-Security: "max-age=63072000; includeSubDomains; preload"
		Header set Referrer-Policy: strict-origin
	</IfDefine>
	<IfDefine DEVELOPMENT>
		# Headers for local dev server.
		Header add Referrer-Policy: origin
	</IfDefine>

	# Headers for all!
	Header add X-Frame-Options: SAMEORIGIN
	Header add X-Content-Type-Options: nosniff
	Header add Content-Security-Policy: "base-uri 'self'; \
		default-src 'self'; \
		style-src 'self'  https://unpkg.com/ https://cdn.jsdelivr.net/; \
		script-src 'self' https://stats.patj.ca https://letterbird.co/ https://unpkg.com/ https://cdn.jsdelivr.net/ https://darkvisitors.com/; \
		img-src 'self' https://stats.patj.ca https://*.ytimg.com/ 'nonce-{{ nonce.fullNonce }}'; \
		frame-src 'self' https://www.youtube-nocookie.com/ https://youtube.com/ https://youtu.be/ https://www.openstreetmap.org/; \
		connect-src 'self' https://stats.patj.ca;"

	# Cache Control
    # One year for image and video files
    <FilesMatch ".(gif|ico|jpg|jpeg|mp4|mpeg|png|svg|webp)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    # One month for JavaScript and PDF files
    <FilesMatch ".(js|pdf)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>

    # One week for CSS files
    <FilesMatch ".(css)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

</IfModule>
