<footer>
{% block footerTop %}{% endblock %}
{% block footerSocialMedia %}
<div class="social-media-list">
{% include 'partials/_socialMedia.njk' %}
</div><!-- .social-media-list -->
{% endblock %}
<ul>
<li>Admission $7</li>
<li><span title="What a deal!">5–movie pass — <em>still just $25!</em></span></li>
<li>All concession items $2</li>
<li>Cash only</li>
</ul>
<!-- Matomo Analytics -->
<script src="/scripts/matomo.js"></script>
{% block footerScripts %}
<!-- AI bot tracker -->
<script src="https://darkvisitors.com/tracker.js?project_key=f75e56b2-431c-45bd-a0f2-d6a8a4fe1ca3"></script>
{% endblock %}
{% block footerBottom %}{% endblock %}
</footer>