{% block headerTop %}{% endblock %}
<section class="top-nav">
<h1 class="logo" id="header-logo"><a href="/" title="Home"><img class="logo" id="evans-logo-header" alt="Evans Theatre" src="/images/svg/evans-logo-white.svg"></a></h1>
{% include "partials/_mainNav.njk" %}
</section>
{% block headerBottom %}{% endblock %}