{%- if mainNav %}
	<input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    	<div class='menu-button'></div>
	</label>
	<menu class="main-nav menu">
	{% for navTitle, navURL in mainNav %}
		<li><a href="{{ navURL }}">{{ navTitle }}</a></li>
	{% endfor -%}
	</menu><!-- .main-nav -->
{%- endif %}