{%- if mainNav %}
	<input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    	<div class='menu-button'></div>
	</label>
	<menu class="main-nav menu">
	{% for navTitle, navObj in mainNav %}
		<li><a href="{{ navObj.url }}"
		{%- if navObj.title %} title="{{ navObj.title }}"{%-endif -%}
		>
		{%- if navObj.iconClass -%}
			<span class="{{ navObj.iconClass }}"></span>
		{%- else -%}
			{{ navTitle }}
		{%- endif -%}
		</a></li>
	{% endfor -%}
	</menu><!-- .main-nav -->
{%- endif %}