{%- if mainNav %}
	<ul class="main-nav">
	{%- for navTitle, navURL in mainNav %}
		{%- if navURL === page.url -%}
		<li class="nav-current-page">{{ navTitle }}</li>
		{%- else -%}
		<li><a href="{{ navURL }}">{{ navTitle }}</a></li>
		{%- endif -%}
	{% endfor -%}
	</ul><!-- .main-nav -->
{%- endif %}